<div class="login-page">
  <div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="loginForm">
      <div class="p-field">
        <input type="text" formControlName="email" placeholder="Email" id="email" pInputText />
      </div>
      <div class="p-field">
        <input type="password" id="password" formControlName="password" placeholder="Password" pPassword
          [feedback]=false indicator="false" />
      </div>
      <div class="butts">
        <button type="submit" (click)="login()" pButton>Login</button>
        <button type="submit" routerLink="/register" pButton>Register</button>
      </div>
    </form>
  </div>
</div>